
.mainpage
{
    display:flex;
}

.logoimg
{
    width:130px;
    height:50px;
    position:relative;
    top:43px;
    left:130px;
    
}
.leftimg
{
height:51vw;
width:100vh;

}
.logotag
{
    position:relative;
    top:20px;
    left:110px;
    font-family: 'Karla', sans-serif;
    font-size: 33px;
    color:green;
}
.signup
{
    position:relative;
    top:44px;
    left:270px; 
    font-family: 'Karla', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
    font-size:21px ;
    font-weight: 900;
    color:rgb(160, 152, 152);

}
.login
{
    position:relative;
    top:44px;
    left:320px; 
    font-family: 'Karla', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
    font-size:21px ;
    font-weight: 900;
    color:rgb(160, 152, 152);
}
.signup:hover{
color:rgb(105, 103, 103);
cursor: pointer;
text-decoration: underline;
text-decoration-color:rgb(49, 167, 147);;


}
.login:hover{
    color:rgb(105, 103, 103);
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color:rgb(49, 167, 147);;
}

.heading
{
    position:absolute;
    top:160px;
    left:870px;
    font-family: 'Karla', sans-serif;
    font-size: 28px;
    color:rgb(99, 95, 95);
}
.name
{

}
input[type=text] ,[type=email],[type=password]{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    width:450px;
}
.entry
{
    position:absolute;
    top:250px;
    left:875px;

}
.images
{
    display: flex;
}
.maledoctor
{
    width:170px;
    height:100px;
    position:absolute;
    top:535px;
    left:1100px;
    border: 2px solid black;
    padding:5px;
    margin:10px;
    padding-bottom: 30px;
}
.femaledoctor
{
    width:170px;
    height:100px;
    position:absolute;
    top:535px;
    margin:10px;
    left:895px;
    border: 2px solid black;
    padding:5px;
    padding-bottom: 30px;
}
.mens
{
    position:absolute;
    top:632px;
    right:300px;
    font-weight: 900;
    font-size: 20px;
}
.ladies
{
    position:absolute;
    top:632px;
    right:480px;
    font-weight: 900;
    font-size: 20px;
}
form{
    position:absolute;
    top:700px;
    left:870px;

}
.register
{
    padding:10px;
    margin-top:15px;
    width:470px;
    border-radius: 5px;
    background-color: rgb(49, 167, 147);
    color: white;
    font-size: 20px;
}